$prefix: "../../";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__dashboard-img: $prefix+"img/dashboard/dashboard-s1.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__history-img: 
    $prefix+"img/history/history-s1.jpg",
    $prefix+"img/history/history-s2.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__stats-img: 
    $prefix+"img/stats/stats-s1.jpg",
    $prefix+"img/stats/stats-s2.jpg";
$bg__trade-img: 
    $prefix+"img/trade/trade-s1.jpg",
    $prefix+"img/trade/trade-s2.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "dashboard",
    "error",
    "history",
    "index",
    "privacy",
    "stats",
    "trade",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__dashboard-img,
    $bg__error-img,
    $bg__history-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__stats-img,
    $bg__trade-img,
    $bg__user-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;